# Dependencies
node_modules/
**/vendor/

# Build outputs
**/dist/
**/.svelte-kit
**/bootstrap/ssr
**/public/build

# Files we don't want to format
pnpm-lock.yaml
*.lock
*.md
*.timestamp-*.mjs

# Directories we don't want to format
**/test-results/
