name: Build
on: [push, pull_request]
jobs:
  build:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.repository
    timeout-minutes: 15
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        adapter: ['react', 'vue3', 'svelte']

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.15

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          key: ${{ runner.OS }}-npm-cache-${{ hashFiles('package-lock.json') }}
          path: |
            ~/.cache
            node_modules
            packages/${{ matrix.adapter }}/tests/node_modules

      - name: Build Inertia
        run: |
          npm install
          cd packages/core && npm run build
          cd ../${{ matrix.adapter }} && npm run build
