name: End-to-end tests
on: [push, pull_request]
jobs:
  tests:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.repository
    timeout-minutes: 15
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        adapter: ['vue3']
        browser: ['chrome']

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 20

      - name: Cache node modules
        uses: actions/cache@v2
        with:
          key: ${{ runner.OS }}-npm-cache-${{ hashFiles('package-lock.json') }}
          path: |
            ~/.cache
            node_modules
            packages/vue3/tests/node_modules

      - name: Build Inertia
        run: |
          npm install
          cd packages/core && npm run build
          cd ../vue3 && npm run build

      - name: Local-link @inertiajs/core
        run: cd packages/core && npm link

      - name: Local-link @inertiajs/${{ matrix.adapter }}
        run: cd packages/${{ matrix.adapter }} && npm link

      - name: Install Cypress Dependencies
        run: |
          cd packages/${{ matrix.adapter }}/tests
          npm install
          npm link "@inertiajs/core" "@inertiajs/${{ matrix.adapter }}"

      - name: Run Cypress (${{ matrix.browser }} / ${{ matrix.adapter }})
        run: |
          cd packages/${{ matrix.adapter }}/tests
          npm run ci
